body {
  padding-top: 70px;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: black;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: black;
}

rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}
